<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="./js/color-modes.js"></script>
    <link
      rel="stylesheet"
      href="./bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="./img/me.jfif" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Home page</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    
    
    <!-- Custom styles for this template -->
    <link href="./css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/myStyle.css" />
    <link rel="stylesheet" href="./css/dark_light.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
  </head>
  <body>
 <!-- dark theme light theme -->
<%- include('./components/dark_light.ejs') %>
    <main class="d-flex flex-nowrap">
     <!-- side barr -->
     <%- include('./components/sidebar.ejs',{currentPage:"index"}) %>




      <section class="w-100">
    
            <!-- ----------------------------------navbar ------------------------>
              <%- include('./components/navbar.ejs') %>
       
            <table
            id="myTable" 
          style="width: 99%"
          class="text-center mx-auto table mt-5 table-striped table-bordered"
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Full Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Country</th>
              <th scope="col">Age</th>
              <th scope="col">Last updated</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% let i=1 %>
            <% users.forEach((user)=> { %>
            <tr>
              <th scope="row"><%= i %></th>
              <td><%= user.username %></td>
              <td><%= user.gender %>	</td>
              <td><%= user.country %></td>
              <td><%= user.age %></td>
              <td><%= user.modifiedAt %>            </td>
              <td>
                <a
                  data-bs-toggle="tooltip"
                  data-bs-title="View details"
                  data-bs-placement="top"
                  class="btn btn-primary btn-sm"
                  href="./user/view.html"
                  ><i class="bi bi-eye"></i
                ></a>

                <a
                  data-bs-toggle="tooltip"
                  data-bs-title="Edit user"
                  data-bs-placement="top"
                  class="btn btn-primary btn-sm"
                  href="./user/edit.html"
                >
                  <i class="bi bi-pencil"></i>
                </a>
                <button
                  data-bs-toggle="tooltip"
                  data-bs-title="Delete user"
                  data-bs-placement="top"
                  class="btn btn-danger btn-sm"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <%
          i=i+1 
          }) %>

          </tbody>
        </table>
      </section>
    </main>
    <script src="./js/bootstrap.bundle.min.js"></script>

    <script src="./js/sidebars.js"></script>

    <script src="./js/main.js"></script>
    <script>
      let table = new DataTable('#myTable', {
    // options
});
    </script>
  </body>
</html>
